<h1>Listing comandos</h1>

<table>
  <thead>
    <tr>
      <th>Instrucion</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comandos.each do |comando| %>
      <tr>
        <td><%= comando.instrucion %></td>
        <td><%= comando.descripcion %></td>
        <td><%= link_to 'Show', comando %></td>
        <td><%= link_to 'Edit', edit_comando_path(comando) %></td>
        <td><%= link_to 'Destroy', comando, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comando', new_comando_path %>
